<mat-toolbar color="primary">
  <a routerLink="/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
    <img src="logo.png" alt="Logo Plataforma Imigrantes" style="height: 100px; margin-right: 12px; cursor: pointer;" />
  </a>
  <span class="spacer"></span>

  <ng-container *ngIf="auth.user$ | async as user; else guestLinks">
    <span>{{ user.email }}</span>
    <a mat-button routerLink="/vacancies">Ver Vagas</a>
    <ng-container *ngIf="user.role === 'company'">
      <a mat-button routerLink="/create-vacancy">Criar Vaga</a>
    </ng-container>
    <button mat-button (click)="logout()">Sair</button>
  </ng-container>

  <ng-template #guestLinks>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Registrar</a>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <p>© {{ year }} Plataforma Imigrantes. Todos os direitos reservados.</p>
</footer>
