<mat-toolbar color="primary">
  <span>Plataforma Refugiados</span>
  <span class="spacer"></span>

  <ng-container *ngIf="auth.user$ | async as user; else guestLinks">
    <span>LOGADO como: {{ user.email }}</span>
    <button mat-button (click)="logout()">Sair</button>
  </ng-container>

  <ng-template #guestLinks>
    <span>NÃO LOGADO</span>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Registrar</a>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <p>© {{ year }} Plataforma Refugiados. Todos os direitos reservados.</p>
</footer>
