.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  text-align: center;

  .hero-content {
    max-width: 600px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
